# lab 03 - Pandas 1
Name: Robb Alexander    
Class: CSCI349    
Semester: 2021SP    
Instructor: Brian King

In [1]:
# Setting things up
import sys
import numpy as np
import pandas as pd

#### 1) Report the Python, Numpy and Pandas version numbers.

In [2]:
print("Python version number:", sys.version)
print("Numpy version number:",  np.__version__)
print("Pandas version number:", pd.__version__)

Python version number: 3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]
Numpy version number: 1.19.2
Pandas version number: 1.2.1

#### 2) Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.

In [3]:
"""
This shows all of the related packages that pandas uses
 that are all a part of the same family of packages. It
 also shows information about the machine and OS detail
"""
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 9d598a5e1eee26df95b3910e3f2934890d062caa
python           : 3.8.5.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 19.6.0
Version          : Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : en_US.UTF-8

pandas           : 1.2.1
numpy            : 1.19.2
pytz             : 2020.5
dateutil         : 2.8.1
pip              : 20.3.3
setuptools       : 52.0.0.post20210125
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.19.0
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.2
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.5.2
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

#### 3) Explain the relationship between numpy and pandas. How are they tied together? How are they different? What core functionality does pandas add to numpy?

Pandas is built on top of Numpy which allows the use of data structures and tools to analyze data. The performance is optimized such that the average user doesn't need to reinvent the wheel. The commonly used strucutres in pandas are, series and dataframes. It makes the simple 2D arrays used in numpy into more strucutred tables.

#### 4) Compare and contrast Series and DataFrame.

A dataframe is a structure with axises that are labeled, which means that it is inherently 2D. Conversely, the Series is a 1D list of data, and the labels associated are not axises, but rather index information.

#### 5) What are the data types that can be used to create a Series object in pandas?

The data types are mostly the same as numpy with a few extras, they are object, int, float, bool, datatime, and category. If you do not give a specified one, pandas will infer which type it is.

#### 6) What are the data structures that can be used to create a DataFrame object in pandas?

All DataFrames are instantiated with the use of individual series, so the data type for DataFrames are series, and each of those has its own data type listed above.

#### 7) When creating a Series object, what role does the index parameter play? Does the index always need to be specified? If not, what happens?

The index parameter essentially is the axis label for the single dimensional data list, each index is a mapping to the corresponding data with informative labels. If you do not pass in an index parameter, pandas will use the default range of 0...n in the form of a `RangeIndex`.

#### 8) Consider the copy() method of a DataFrame object. What is this method for? Explain the difference between a shallow copy and a deep copy of a DataFrame? Why would I use a shallow copy?

The method `copy()` is to create a deep copy that allows for the modification of a series in the DataFrame without changing the initial values. The default copy() uses a form of deep copy. The use of a shallow copy is important in instances where you want to have the same children objects, but is a new object itself. We use a shallow copy if we want all the children to be shared but the dataframe itself to be distinct.

---

In [4]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

#### 9) Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables.

In [5]:
week_1 = pd.Series(data=scores_1, index=days)
week_2 = pd.Series(data=scores_2, index=days)

#### 10) Create a pandas DataFrame called scores that represents the above data. Show your data frame. Your results should be arranged as shown below:

In [6]:
scores = pd.DataFrame([week_1, week_2], index=['week_1', 'week_2'])
print(scores)

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

#### 11) Append the following data to the end of scores. [8.5,8,9.75,9,8.25]. The row label on the new week is "week_3". Show your updated data frame. It should look like the following:

In [7]:
week_3 = pd.Series(data=[8.5,8,9.75,9,8.25], index=days)
scores.loc['week_3'] = week_3
print(scores)

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  8.25

#### 12) numpy and pandas have an ENORMOUS number of ways for selecting data. At first, the flexibility will confuse and drive you nuts. In time, it because amazing and intuitive (with less nuts.) Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame.


`.loc` is label based, we use the name of the rows/columns to give us back the either a dataframe or series depending on if we pass in a list of strings or a string, respectively.<br />
`print(scores.loc["week_1"])`

`.iloc` is position based, using the index to get a range of values, the return should be a series if we use one, but a dataframe if we use a list of indexes.<br />
`print(scores.loc[0])`

`.at` is a faster version of loc, which means it is also label based. It can access using the column and row names for a scalar access. The return type is a scalar which means it is not a Series, rather a simpler datatype.<br />
`print(scores.at["week_1","Mon"])`

`.iat` is a faster version of iloc, which means it is also position based. But the tradeoff for the speed is that it is only a scalar accessor, which means you cannot use arrays as an indexer.<br />
`print(scores.iat[0,0])`

#### 13) Show at least two different techniques to select scores for Tuesday using the string "Tue"

In [9]:
scores.loc[:, 'Tue']
scores['Tue']

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

#### 14) Show how to retrieve the scores for Tuesday using the named attribute Tue

In [10]:
scores.Tue

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

#### 15) Show at least three techniques to select scores for Wednesday using an integer. The return type can be either a DataFrame or a Series.

In [49]:
scores.iloc[:, 2]
scores.iloc[[0,1,2], 2]
scores[scores.columns[2:3]]

          Wed
week_1   8.00
week_2  10.00
week_3   9.75

#### 16) Select the data for the first week using the string "week_1". Your result should return a Series representing the scores for week 1.

In [48]:
scores.loc["week_1"]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

#### 17) Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scores DataFrame for week 1 only.

In [50]:
scores.loc[["week_1"]]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

#### 18) Select the data for the first week using a slice

In [51]:
scores[0:1]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

#### 19) Use .iloc to select Monday and Friday of the first and third week.

In [53]:
scores.iloc[[0,2], [0,4]]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

#### 20) Repeat the previous exercise, but use the .loc selector. You should have the same result.

In [56]:
scores.loc[["week_1","week_3"], ["Mon","Fri"]]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

#### 21) For each week, report how much each day's score for that week differed from the mean for the week.

In [81]:
mean = scores.mean(axis=1)
scores.sub(mean, axis=0)

        Mon   Tue   Wed   Thu   Fri
week_1  0.7 -0.05 -0.80  1.20 -1.05
week_2  0.4 -0.60  1.40  0.15 -1.35
week_3 -0.2 -0.70  1.05  0.30 -0.45

#### 22) Report the maximum score for each week

In [77]:
scores.max(axis=1)

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

#### 23) For each week, report which day had the largest score

In [84]:
scores.idxmax(axis=1)

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

#### 24) Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [94]:
total_score = scores.sum(axis=1)
index = total_score.argmax()
total_score.index[index]

'week_1'

#### 25) Report the number of days of each week that had a score >= 9.25. Your answer should be a Series that looks like the following:

In [97]:
scores[(scores > 9.25)].count(axis=1)

week_1    2
week_2    1
week_3    1
dtype: int64

#### 26) Report the average score for each week

In [99]:
scores.mean(axis=1)

week_1    8.8
week_2    8.6
week_3    8.7
dtype: float64

#### 27) Report the average score for each week with the lowest score for each week dropped. (REMEMBER â€“ NEVER hard code magic numbers. Your solution should work for any number of weeks, and any number of days per week!)

In [130]:
min_index = scores.idxmin(axis=1)
new_scores = scores.copy()

for i, v in min_index.items():
    new_scores.loc[i, v] = np.NaN

new_scores.mean(axis=1, skipna=True)

week_1    9.0625
week_2    8.9375
week_3    8.8750
dtype: float64

#### 28) Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [132]:
scores * 10

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  82.5